<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Tank</title>
</head>
<body>
    <h1>Add Tank</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for m in messages %}
          <li>{{ m }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    // form to add a new tank
    <form method="post">
        <label>Tank Name:</label><br>
        <input name="tank_name" required><br><br>

        <label>Tank Volume in Gallons(optional):</label><br>
        <input name="tank_volume" type="number" min="0"><br><br>

        <label>Tank Type (you can type anything):</label><br>
        <input name="tank_type" placeholder="e.g., Reef, Freshwater, Nano"><br><br>

        <button type="submit">Add Tank</button>
    </form>

    <p><a href="{{ url_for('dashboard.dashboard') }}">Back to Dashboard</a></p>
</body>
</html>